---
import PostPreview from "@src/components/PostPreview.astro";
import Base from "@src/layouts/Base.astro";

export async function getStaticPaths() {
  return ["fr", "en"].map((locale) => ({
    params: { locale },
  }));
}

const { locale } = Astro.params;

const allPosts = await Astro.glob("@src/content/posts/**/*.md");
const posts = allPosts.filter((post) => post.file.includes(`/${locale}/`));
const baseUrl = Astro.url.pathname;
---

<Base
  title="News"
  locale={locale}
  translatedUrl={locale === "fr" ? "/en/posts" : "/fr/posts"}
>
  <main class="container">
    <ul>
      {
        posts.map((post) => (
          <PostPreview
            url={`${baseUrl}/${post.frontmatter.translatedSlug}`}
            title={post.frontmatter.title}
          />
        ))
      }
    </ul>
  </main>
</Base>
