---
import translationKeys from "@src/i18n";
import slugify from "slugify";

const { cardsDir, locale } = Astro.props;

const isIndexPage = cardsDir.startsWith("@src/content/index");

const allCards = isIndexPage
  ? await Astro.glob("@src/content/index/**/*.md")
  : await Astro.glob("@src/content/courses/**/*.md");

const cards = allCards
  .filter(
    (card) =>
      card.file.includes(cardsDir.replace("@", "")) &&
      !card.frontmatter.draft &&
      card.frontmatter.title !== undefined
  )
  .sort((card1, card2) => card1.frontmatter.order - card2.frontmatter.order)
  .map((card) => ({
    ...card,
    slug: slugify(card.frontmatter.title, { lower: true }),
  }));

cards.forEach((card, index) => (card.frontmatter.order = index + 1));

const firstSection = cards.filter((card) => card.frontmatter.order % 2 === 1);
const secondSection = cards.filter((card) => card.frontmatter.order % 2 === 0);
---

<main class="container cards-container">
  <section class="cards-section lg">
    {
      firstSection.map((card) => (
        <article class="card">
          <header class="header">{card.frontmatter.title}</header>
          <card.Content />
        </article>
      ))
    }
  </section>

  <section class="cards-section lg">
    {
      secondSection.map((card) => (
        <article class="card">
          <header class="header">{card.frontmatter.title}</header>
          <card.Content />
        </article>
      ))
    }
  </section>

  <section class="cards-section sm">
    {
      cards.map((card) => (
        <article class="card" id={card.slug}>
          <header class="header">{card.frontmatter.title}</header>
          <card.Content />
        </article>
      ))
    }
  </section>
</main>

<dialog onclick="this.close()">
  <article class="page-menu">
    <h4>{translationKeys["COURSE-page-menu"][locale]}</h4>

    <aside>
      <nav>
        <ul>
          {
            cards.map((card) => (
              <li>
                <a href={`#${card.slug}`}>{card.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>
  </article>

  <button type="button" class="btn-unset close-btn">
    <span style="transform: translateY(0.5625rem) rotate(45deg);"></span>

    <span style="visibility: hidden;"></span>

    <span style="transform: translateY(-0.5625rem) rotate(-45deg);"></span>
  </button>
</dialog>

<button
  type="button"
  class="btn-unset page-menu-btn"
  onclick="this.previousElementSibling.showModal()"
>
  <span></span>
  <span></span>
  <span></span>
</button>

<style>
  button.page-menu-btn,
  button.close-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: var(--card-box-shadow);
    z-index: 2;
  }

  button.close-btn {
    display: flex;
    position: absolute;
  }

  .page-menu-btn span,
  .close-btn span {
    display: block;
    width: 1.75rem;
    height: 0.1875rem;
    background-color: var(--secondary);
    margin: 0.1875rem 0;
    border-radius: 0.125rem;
  }

  .cards-container {
    display: flex;
    margin-top: 2rem;
    padding-top: 0;
  }

  .cards-section {
    flex: 1 0;
    margin: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sm {
    display: none;
  }

  .card {
    margin: 0;
    padding-bottom: 1rem;
    scroll-margin-top: 4rem;
  }

  :global(.fb-page) {
    text-align: center;
  }

  .header {
    background-color: #eeeeee;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
  }

  @media only screen and (max-width: 800px) {
    .cards-container {
      flex-direction: column;
    }

    .cards-section {
      margin: 0 0 2rem;
    }

    .lg {
      display: none;
    }

    .sm {
      display: flex;
    }
    button.page-menu-btn {
      display: flex;
    }
  }
</style>
