---
import Facebook from "./icons/Facebook.astro";
import courseList from "@src/content/courses/_config";
import { getSortedCourses } from "./courses.helpers.js";
import translationKeys from "@src/i18n";

export interface Props {
  locale: "fr" | "en";
}

const { locale } = Astro.props;

const allPages = await Astro.glob("@src/content/pages/**/*.md");
const pages = allPages.filter((page) => page.file.includes(`/${locale}/`));

const sortedCourses = getSortedCourses(courseList, locale);
---

<aside class="footer">
  <section class="nav-wrapper">
    <nav class="nav">
      <h2 class="section-title">
        {translationKeys["FOOTER-courses-section-title"][locale]}
      </h2>

      <ul class="footer-links">
        {
          sortedCourses.map((course) => (
            <li>
              <a href={course.url}>
                {locale === "fr"
                  ? course.frenchLongTitle
                  : course.englishLongTitle}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <nav class="nav">
      <h2 class="section-title">
        {translationKeys["FOOTER-pages-section-title"][locale]}
      </h2>

      <ul class="footer-links">
        <li>
          <a href="/"
            >{translationKeys["FOOTER-pages-section-welcome"][locale]}</a
          >
        </li>

        {
          pages.map((page) => (
            <li>
              <a href={`/${locale}/${page.frontmatter.translatedSlug}`}>
                {page.frontmatter.title}
              </a>
            </li>
          ))
        }

        <li>
          <a href="/admin"
            >{translationKeys["FOOTER-pages-section-admin-link"][locale]}</a
          >
        </li>
      </ul>
    </nav>
  </section>

  <hr />

  <section class="attributions">
    <p>
      {translationKeys["FOOTER-frameworks-text-1"][locale]}
      <a href="https://astro.build/">Astro</a>
      {translationKeys["FOOTER-frameworks-text-2"][locale]}
      <a href="https://picocss.com/">Pico css</a>.
    </p>

    <p>
      {translationKeys["FOOTER-frameworks-hosting"][locale]}
      <a href="https://docs.gitlab.com/ee/user/project/pages/">Gitlab Pages</a>
    </p>

    <p>
      {translationKeys["FOOTER-frameworks-source-code"][locale]}
      <a href="https://gitlab.com/cfc2023/cfc2023.gitlab.io/-/tree/master"
        >cfc2023/cfc2023.gitlab.io</a
      >
    </p>
  </section>

  <a href="https://www.facebook.com/CFC2023" class="facebook">
    <Facebook />
  </a>
</aside>

<style>
  .footer {
    background-color: var(--background-grey);
    margin-bottom: 0;
    padding: 4rem 3rem;
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @media only screen and (max-width: 500px) {
    .nav-wrapper {
      grid-template-columns: 1fr;
    }
  }

  .nav {
    text-align: center;
  }

  .section-title {
    margin-bottom: 1rem;
    color: white;
  }

  .footer-links {
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  a,
  p {
    color: white;
  }

  a:focus {
    background-color: transparent;
  }

  a:hover {
    text-decoration: underline;
  }

  .attributions {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .facebook {
    display: block;
    text-align: center;
  }
</style>
