---
import Footer from "@src/components/Footer.astro";
import Partners from "@src/components/Partners/Partners.astro";
import Navbar from "../components/Navbar.astro";

import favicon from "./favicon.svg";
import "./styles.css";

import headBackground from "./banner.svg";
import headBackgroundMobile from "./banner-mobile.png";

const { title, locale = "fr", translatedUrl, metaDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang={locale} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <link
      rel="stylesheet"
      href="/styles/pico.min.c2a16c7378843fdefb97d3685ec0cda9.css"
    />

    <link
      rel="preload"
      href={headBackground.src}
      as="image"
      media="(min-width: 801px)"
    />

    <link
      rel="preload"
      href={headBackgroundMobile.src}
      as="image"
      media="(max-width: 800px)"
    />
  </head>
  <body>
    <Navbar locale={locale} translatedUrl={translatedUrl} />

    <picture>
      <source
        media="(max-width: 800px)"
        srcset={headBackgroundMobile.src}
        width="1500"
        height="350"
      />

      <source
        media="(min-width: 801px)"
        srcset={headBackground.src}
        width="800"
        height="255"
      />

      <img src={headBackground.src} class="banner" alt="banner" />
    </picture>

    <slot />

    <hr />

    <Partners locale={locale} />

    <Footer locale={locale} />
  </body>
</html>

<style>
  .banner {
    width: 100%;
    height: auto;
  }
</style>
