:root {
  --font-family: franklin gothic, sans-serif;
  --font-size: 16px;
  --grey-3: #767171;
  --background-grey: #8f8f8f;
}

a:focus,
summary:focus {
  background-color: transparent;
}

.btn-unset {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: fit-content;
  color: var(--h2-color);
}

.btn-unset:focus {
  box-shadow: none;
}
